body {
    height: 100vh;
    background-color: #d6cfd6;
}

.content__container {
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: #ebe9df;
    max-width: 800px;
    width: 100%;
    min-height: 500px;
    height: 100%;
    box-shadow: inset 0 0 0 1px #33333360;
    border: 20px solid #ebe9df;
}

@keyframes contentZoom {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

.content__container:hover {
    animation: contentZoom 4s ease; 
}

.title__1 {
    padding-top: 40px;
    font-family: "quicksand", serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    color: #573f4d;
    text-align: center;
}

.title__2 {
    margin-top: 10px;
    font-family: "dancing script", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    text-align: center;
    color: #573f4d;

}

.fa-calendar, .fa-clock, .fa-user-tie {
    font-size: 25px;
    color: #705163cf;
    margin: 10px;
}

.info {
    margin-top: 50px;
    text-align: center;
    font-family: "quicksand", serif; 
    font-size: 18px; 
    color: #573f4d;
}

.bottom {
    display: flex;
    justify-content: space-between;

}

.bottom__info-left {
    margin-left: 20px;
    margin-bottom: 20px; 
    font-family: "quicksand", serif;
    font-size: 14px;
    text-align: left;
}

.bottom__info-right {
    margin-right: 20px;
    margin-bottom: 20px; 
    font-family: "quicksand", serif;
    font-size: 14px;
    text-align: right;
}