body {
    height: 100vh;
    background-color: #d6cfd6;
}

.content__background {
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #e2e0d7;
    max-width: 800px;
    width: 100%;
    min-height: 500px;
    height: 100%;
    box-shadow: inset 0 0 0 1px #33333360;
    border: 20px solid #e2e0d7;
}

.title {
    padding: 30px;
    font-family: "dancing script", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    color: #573f4d;
}

p {
    display: flex;
}